name: deploy
on:
  push:
    branches:
      - 'main'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get the code from my repository
        uses: actions/checkout@v4
      - name: Add Java, because it was not supported
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'      
      - name: Install dependencies
        run: mvn clean install
      - name: Run my all test 
        run: mvn test
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            potigs500/demo:latest
            potigs500/demo:${{ github.sha }}
